*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: blanchedalmond;
    font-size: 30px;
}
.container{
    width: 500px;
    height: 300px;
    background-color: brown;
    color: white;
    text-align: center;

    
}
form input{
    width:400px;
    height: 50px;
    font-size: 30px;
    border-radius: 20px;
    text-align: center;
    
}
.reset{
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius:20px ;
}
.reset:hover{
    background-color: burlywood;
}
.button { width:100px;
    height: 50px;
    font-size: 30px;
    border-radius: 20px 

} .button1{
    text-decoration: none;
    color: white;
}
.regbut{
width: 150px;
}
.container{
    padding: 50px;
    margin-top: 50px;
    margin-left: 400px;
}
.button:hover{
    background-color: aqua;
}
ul li  {
    list-style-type:none;
    margin: 0px;
    padding:0px;
    
}
ul li a{
    text-decoration: none;
    
}
h1{
    background-color: rgb(217, 217, 235);
}
#anchor{
    text-decoration: none;
    border: 2px solid brown;
    padding: 6px;
    background-color: white;
    color: black;
    border-radius: 20px;
    
}
#anchor:hover{
    background-color:burlywood;
}
.uploading{
    background-color: aquamarine;
    text-align: center;
}
.uploading h1{
    background-color: rgb(194, 52, 123);
    color: aliceblue;
    text-align: center;

}
.viewuploadfiles h1{
    background-color: rgb(194, 52, 123);
    color: aliceblue;
    text-align: center;

    
}
.viewuploadfiles{
    background-color:  aquamarine;
}
.downloadfiles{
    background-color: aquamarine;
    text-align: center;
}
.downloadfiles h1{
    background-color: rgb(194, 52, 123);
    color: aliceblue;
    text-align: center;

}